* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

nav {
  background-color: #000000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 3rem;
  padding-left: 2rem;
  margin-top: 2rem;
}

header,
a {
  color: #fff;
  font-weight: 200;
}
.card a {
  color: #000000;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #000000;
}

footer p {
  color: #ccc;
}
.card {
  background: #fff;
  border-radius: 0 7px 7px 0;
  margin-bottom: 2px;
  padding: 10px;
  width: 350px;
  position: relative;
}
.card h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.card p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

textarea {
  resize: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  background-color: #f5ba13;
}
.question-container {
  background-color: #ccc;
  height: 92vh;
  z-index: -10;
  position: absolute;
}

.btns button {
  border: none;
  font-size: 1.4rem;
  margin-left: 1rem;
  cursor: pointer;
  background-color: transparent;
  color: #222;
}

.btns button:focus {
  outline: none;
}
